/*
 The Header across the site
 ===================================== */

 .navigation {
 	padding: 0;
 	overflow: hidden;
 	@include clearfix;
 	a {
 		text-decoration: none;
	}
	.menu {
		@include span-columns(12);
		float: right;
    font-size: rem(22);
		text-align: right;
		font-family: $heading-font;
		li a {
			padding: rem(15) rem(5);
			margin: 0 rem(10);
      opacity: $opacity-hover;
			font-weight: $heading-weight;
			&:hover {
        opacity: 1;
			}
		}
	}
 }
