/*
 The Header across the site
 ===================================== */

 header.navigation {
 	padding: rem(100) 0;
 	overflow: hidden;
 	@include clearfix;
 	a {
 		text-decoration: none;
 		img.site-logo {
	 		max-width: 50px;
	 		max-height: 50px;
	 		padding: rem(10);
	 		border-radius: rem(2);
	 		background-color: $primary-color;
	 		@include span-columns(2);
	 		@include transition (all .1s ease-in-out);
	 	}
	 	h1 {
	 		font-family: $logo-font;
	 		text-transform: uppercase;
	 		color: $primary-color;
	 		margin: 0;
	 		font-size: rem(20);
	 		@include span-columns(4); 
	 		small.tagline {
	 			display: block;
		 		font-family: $heading-font;
		 		font-weight: 200;
		 		margin: 0;
		 		font-size: rem(14);
		 		letter-spacing: rem(1);
		 	}
	 	}
	 	&:hover {
	 		img.site-logo {
	 			background-color: $hover-color;
	 		}
	 	}
	}
	nav.menu {
		@include span-columns(6);
		float: right;
		text-align: right;
		font-family: $heading-font;
		li a {
			padding: rem(15) rem(5);
			margin: 0 rem(10);
			font-weight: 300;
			letter-spacing: rem(1);
			&:before {
				position: absolute;
				top: 85%;
				left: 0;
				width: 100%;
				height: 2px;
				background-color: $hover-color;
				content: '';
				opacity: 0;
				-webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
				-moz-transition: opacity 0.3s, -moz-transform 0.3s;
				transition: opacity 0.3s, transform 0.3s;
				-webkit-transform: translateY(5px);
				-moz-transform: translateY(5px);
				transform: translateY(5px);
			}
			&:hover {
				&:before {
					opacity: 1;
					-webkit-transform: translateY(0px);
					-moz-transform: translateY(0px);
					transform: translateY(0px);
				}
			}
		}
	}
 }