/*
 Basic Layout styling for pages
 ===================================== */

body {
	font-family: $heading-font;
	color:  $font-color;
	font-weight: 200;
	background-color: $base-body-color;
}

img {
	max-width: 100%;
}

h1,.h1,h2,.h2,h3,.h3,h4,.h4,h5,.h5,h6,.h6 {
	font-family: $heading-font;
}

.container {
	 padding: rem(40);
	 overflow: auto;
	 max-width: 1100px;
	 margin: 0 auto;
}

.row {
	@include row();
}
.grid-item {
	@include span-columns(6);
	margin-bottom: rem(48);
	.grid-image {
		height: rem(400);
		width: 100%;
		background: $light-accent-color;
		margin-bottom: rem(24);
	}
	&:hover .grid-image {
		box-shadow: 0 0 25px rgba(0,0,0,.125);
	}
}

/*
Link styles
-------------------------- */
a, a:link {
	color: $font-color;
	text-decoration: none;
	cursor: pointer;
}

/*
List styles
-------------------------- */

.latest-list{
	margin: 0;
	padding: rem(24) 0 0 0;
	list-style-type: none;
 	@include clearfix;
 	li {
		padding:0;
		border-bottom: 1px solid lighten($base-accent-color, 6%);
		&:last-of-type {
			border-bottom: none;
		}
		a {
			padding: rem(24) 0;
			display: block;
			@include transition(all 200ms ease-in-out);
			&:hover {
				padding-left: rem(9);
			}
		}
 	}
}

.horizontal-list {
	margin: 0;
	padding: 0;
	list-style-type: none;
 	@include clearfix;
	li {
		display: inline-block;
		a {
			position: relative;
			display: block;
		}
	}
}

/*
Typography
-------------------------- */

p {
	margin:0;
	padding-top: rem(48);
	@include span-columns(9);
	font-size: rem(22);
	line-height: rem(38);
}

h1.page-title {
	margin: 0;
	font-weight: $heading-weight;
	font-size: rem(60);
	&:after {
		content: " ";
		background: $secondary-color;
		width: rem(72);
		display: block;
		height: rem(2);
		margin-top: rem(12);
	}
}

h2.page-title {
	margin: 0;
	font-weight: $heading-weight;
	font-size: rem(30);
	&:after {
		content: " ";
		background: $secondary-color;
		width: rem(72);
		display: block;
		height: rem(2);
		margin-top: rem(12);
	}
}

.project-name {
	font-family: $monospace-font;
}
.company-name {
	font-family: $monospace-font;
	font-size: rem(14);
	margin-top: rem(6);
	opacity: .6;
}
