/*
 The Variables across the site
 ===================================== */

 $base-body-color:			#F3F3F3;
 $base-accent-color:		#ddd;

 $primary-color:			#4D565F;
 $hover-color:				#689EBD;


 $font-color:				#4D565F;
 $logo-font:				"Brandon grotesque";
 $heading-font:				'Lato', sans-serif;
 $body-font:				"freight-text-pro", Georgia, Cambria, "Times New Roman", Times, serif;

 $footer-color:				#fff;


 $medium-screen:			40em;
 $large-screen:				53.75em;