/*
 The Variables across the site
 ===================================== */

 $base-body-color:			#ffffff;
 $base-accent-color:		#D6D6D6;

 $primary-color:			#4D565F;
 $secondary-color:		#D6D6D6;
 $hover-color:				#689EBD;


//Typography
 $font-color:				#242E37;
 $heading-font:			"SF UI Display", Helvetica Neue,  sans-serif;
 $body-font:				"SF UI Text", Helvetica Neue, ;
 $heading-weight:   400;



 $opacity-hover:    .3;

 $footer-color:				#fff;

 $medium-screen:			40em;
 $large-screen:				50em;
