<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">
        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="/css/syntax.css">
        <!-- Custom CSS -->
        <link rel="stylesheet" href="/css/style.css">

    </head>
    <body>
          {{ content }}
        <footer class="footer">
          <div class="container">
            <p>Contact info –<br/><a href="mailto:jpdanks@gmail.com">jpdanks@gmail.com</a></p>
          </div>
        </footer>
    </body>
</html>
