---
layout: default
---

<nav class="navigation">
  <div class="menu">
    <ul class="horizontal-list">
      <li>
        <a class="extra" href="/index.html">Justin Danks</a>
      </li>
    </ul>
  </div>
</nav>
<div class="cover">
<header class="page-background"
{% if page.bgimage %}style="background-image: url({{ page.bgimage }})"
{% endif %}>
  <div class="ghost">
    <div class="cover-content">
      <p class="headline-goal">{{ page.headline }}</p>
    </div>
  </div>
</header>
</div>
<article>
  <div class="project-summary">
    <div class="container">
      <div class="row">
        <h1>{{ page.date | date: '%Y' }} –{{ page.project }}</h1>
        <div class="mono-type hr-space-lg">
          <div>{{ page.company }} – {{ page.department }}<br/>{{ page.type }}</div>
        </div>
        <div class="mono-type">
          <div>Role: {{ page.role }}<br/>
          Team: {{ page.team }}<br/>
          Goal: {{ page.goal }}</div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row portfolio">
      {{ content }}
    </div>
  </div>
</article>

<!-- Only next aticle

{% if page.previous.url %}
<div class="latest">
	<div class="container">
		<div class="row">
			<h2 class="page-title">Next Case Study</h2>
			<ul class="latest-list">
				<li>
					<a class="prev" href="{{page.previous.url}}">
						<div class="mono-type">{{page.previous.project}}</div>
						<div class="company-name">{{page.previous.company}}</div>
					</a>
				</li>
			</ul>
		</div>
	</div>
</div>
{% endif %} -->

<div class="latest">
	<div class="container">
		<div class="row">
			<h2 class="page-title">View more</h2>
			<ul class="latest-list">
        {% if page.previous.url %}
				<li>
					<a class="prev" href="{{page.previous.url}}">
						<div class="mono-type">{{page.previous.project}} for {{page.previous.company}}</div>
						<div class="company-name">Next Study</div>
					</a>
				</li>
        {% endif %}
        {% if page.next.url %}
				<li>
					<a class="prev" href="{{page.next.url}}">
						<div class="mono-type">{{page.next.project}} for {{page.next.company}}</div>
						<div class="company-name">Previous Study</div>
					</a>
				</li>
        {% endif %}
			</ul>
		</div>
	</div>
</div>
